@CHARSET "UTF-8";

.TOKEN_HISTORY {
	color: blue
}

.CUSTOMER_API_TOKEN {
	color: green
}

.CUSTOMER_ERROR {
	color: red
}

.TOKEN_ERROR {
	color: red
}

#main {
	float: left;
	height: 100%;
	padding-right: 10px;
	margin-right: 10px;
	border-right-style: solid;
}

#messages {
	overflow: auto;
	height: 100%;
	scroll-behavior: smooth;
}